p, p+p
  text-indent: 0
  padding-bottom: 0.5em

footer, footer a
  color: #CECECE
  font-size: 0.8em

.navigation-wrapper
  .site-name
    a
      line-height: 32px

      img.head
        vertical-align: middle
        padding-right: 5px

  .top-navigation
    line-height: 32px

#index
  .topline
    font-family: 'PT Sans Narrow', sans-serif
    font-weight: 500
    font-size: 1.4em

    em
      font-weight: 800
      font-style: normal
