p, p + p {
  text-indent: 0;
  padding-bottom: 0.5em; }

footer, footer a {
  color: #cecece;
  font-size: 0.8em; }

.navigation-wrapper .site-name a {
  line-height: 32px; }
  .navigation-wrapper .site-name a img.head {
    vertical-align: middle;
    padding-right: 5px; }
.navigation-wrapper .top-navigation {
  line-height: 32px; }

#index .topline {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 500;
  font-size: 1.4em; }
  #index .topline em {
    font-weight: 800;
    font-style: normal; }
