<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div class="article-author-side">
  {% include _author-bio.html %}
</div>

<div id="index">

  <p class="topline"><em>Chris Metcalf</em> is a technologist, software developer, and awkward nerd based in Seattle, Washington</p>

  <p>Chris is passionate about a lot of things. Possibly too many. Solving problems creatively using software. Helping governments and developers innovate. Teaching the curious about technology. Shipping.</p>

  <p>He is currently the <em>Director of Developer Experience</em> at <a href="http://www.socrata.com">Socrata</a>, a fast-growing startup in Seattle that helps governments serve their constituents better through the creative use of open data.</p>

  <p>Seven years ago, they were just a handful of engineers with a dream. Now he focuses on the developer experience, enabling civic entrepreneurs, and just generally making governments more awesome. Every single day he wakes up still a bit confused that he gets to do what he loves as a job. And they pay him!</p>

  <p>Outside of work, Chris occupies himself with sailboat racing, photography, and dabbling in numerous personal projects. He lives in Seattle with his awesome wife, <a href="http://facebook.com/maggiedawg">kick ass dog</a>, and several curmudgeonly cats.</p>

  <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
  {% for post in site.posts limit:5 %}    
  <article>
    {% if post.link %}
      <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="icon-link"></i></h2>
    {% else %}
      <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
    {% endif %}
  </article>
  {% endfor %}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
